%clearfix
{
    clear:both;
  &:before,&:after 
  {
    content:"";
    display:table;
  }
  &:after
  {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: "\a0";
     clear: both;
     height: 0;
  }
}
// more info http://css-tricks.com/snippets/css/clear-fix/